// --------------------
// VARIABLES
//---------------------

// Colors
$primary        : #da5920;
$secondary      : #0c3c55;
$light          : #f1faff;
$gray           : #f0f4f7;


// --------------------
// Container Options
//---------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  ) !default;
  
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1140px,
) !default;
