// --------------------
// VARIABLES
//---------------------

// Colors
$primary        : #01c58c;
$secondary      : #333;
$light          : #f4f7fb;


// --------------------
// Container Options
//---------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  ) !default;
  
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1140px,
) !default;
