// --------------------
// VARIABLES
//---------------------

// Colors
$primary        : #6d69fc;
$primary-2      : #fb6485;
$secondary      : #4a4a4a;
$headings       : #333;
$light          : #f1f1fd;

// --------------------
// Container Options
//---------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  ) !default;
  
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1140px,
) !default;
